<style type="text/css">
    a {cursor:pointer;}
</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">nodejs nodejs博客</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="icon-github-alt icon-2x"></i></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>

            <form class="navbar-form navbar-right search-form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control search-keywords" placeholder="快来试一下吧...">
                </div>
                <button type="button" class="btn btn-search btn-default">搜索</button>
            </form>
        </div>
    </div>
</nav>


<!-- 模态框（Modal） -->
<div class="modal fade" id="not-permission-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span style="font-size:24px;color:#666;">对不起，你没有权限。</span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<!-- Modal -->
<div class="modal fade" id="login-signout-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">帐号</h4>
            </div>

            <div class="modal-body">
                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#login" data-toggle="tab">登录帐号</a></li>
                    <li><a href="#signin" data-toggle="tab">注册帐号</a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="login">
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" id="login-form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">用户名：</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="username" class="form-control" placeholder="请输入用户名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">密码：</label>
                                    <div class="col-sm-10">
                                        <input type="password" name="password" class="form-control" placeholder="请输入密码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-success">登录</button>
                                        <button type="button" class="btn btn-default btn-cancel">取消</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <h5 id="login-error-message" class="hidden text-warning">用户名或密码不正确</h5>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="signin">
                        <div class="modal-body">
                            <form class="form-horizontal" role="form" id="signin-form">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">用户名：</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="username" class="form-control" placeholder="请输入用户名">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">密码：</label>
                                    <div class="col-sm-10">
                                        <input type="password" name="password" class="form-control" placeholder="请输入密码">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">验证码：</label>
                                    <div class="col-sm-10" id="captcha-box">
                                        <input type="text" name="captcha" class="form-control" placeholder="请输入验证码">
                                        <img id="captcha" src='/user/captcha?width=100&height=30' onclick="this.src='/user/captcha?width=100&height=30&timestamp='+new Date().getTime();"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-warning">注册</button>
                                        <button type="button" class="btn btn-default btn-cancel">取消</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <h5 id="signin-error-message" class="hidden text-warning">验证码错误</h5>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="modal-footer">
            </div>-->
        </div>
    </div>
</div>








<script type="text/javascript">
    $(function() {
        $.ajax({
            type:"post",
            dataType:"json",
            url:"/index/header",
            async:false,
            success:function(data) {
                if(data && data instanceof Array) {
                    var arr = [];
                    arr.push('<li class="active"><a href="/">首页</a></li>');
                    for(var index in data) {
                        var href = "/show/lists?forumId="+data[index]._id;
                        var $element = $("<li><a></a></li>");
                        $element.children().attr("href",href);
                        $element.children().text(data[index].name);
                        arr.push($element);
                    }
                    arr.push($('<li><a target="_blank" href="/chat/index">聊天室</a></li>'))
                    arr.push($('<li><a href="/guestbook/index">留言板</a></li>'))
                    $("ul.navbar-nav").prepend(arr);
                }
            }
        });
        
        
        var url = window.location.pathname + window.location.search;
        $("ul.navbar-nav li").each(function(i,e) {
            var href = $(this).children().attr("href");
            if(url == href) {
                $(this).siblings(".active").removeClass().end().addClass("active");
            }
        });
        
        
        //点击事件
        $(".navbar-nav > li > a").click(function(e) {
            var text = $(this).text();
            if(text == "聊天室") {
                if(!isLogin()) {
                    e.preventDefault();
                    $("#login-signout-modal").modal("show");
                }
            }
        });

        validate();

    })


    //验证
    function validate() {
        /**
         * 登录
         */
        $("#login-form").bootstrapValidator({
            message: '不是有效的值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            excluded: ':disabled',
            fields: {
                username: {
                    message: '不是有效的值',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 3,
                            max: 30,
                            message: '长度必须长于3位，小于30位'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_]+$/,
                            message: '只能包含字母数字_'
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 3,
                            max: 30,
                            message: '长度必须长于3位，小于30位'
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {
            e.preventDefault();
            $.ajax({
                type:"post",
                dataType:"text",
                url:"/user/login",
                data:$("#login-form").serialize(),
                async:false,
                success:function(data) {
                    if(data && data === "success") {
                        var userModel = {};
                        var username = $("#login-form input[name='username']").val();
                        $('#chatModal').modal('hide');
                        $("#login-form").bootstrapValidator('resetForm', true);
                        $("#signin-form").bootstrapValidator('resetForm', true);
                        location.href="/chat/index";
                    } else {
                        $("#login-error-message").removeClass("hidden");
                    }
                }
            });
        });


        /**
         * 注册
         */
        $("#signin-form").bootstrapValidator({
            message: '不是有效的值',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            excluded: ':disabled',
            fields: {
                username: {
                    message: '不是有效的值',
                    validators: {
                        notEmpty: {
                            message: '用户名不能为空'
                        },
                        stringLength: {
                            min: 2,
                            max: 20,
                            message: '长度必须长于2位，小于20位'
                        },
                        regexp: {
                            regexp: /^[a-zA-Z0-9_\u4E00-\u9FA5]+$/,
                            message: '只能包含字母数字_'
                        },
                        callback: {
                            message: '用户名已经被占用',
                            callback: function (value, validator) {
                                var res = true;
                                if (value.match(/^[a-zA-Z0-9_]+$/)) {
                                    $.ajax({
                                        url: '/user/isExistUsername',
                                        type: 'post',
                                        dataType: 'text',
                                        async: false,
                                        data: {username: value},
                                        success: function (data) {
                                            if (data && data == 'exist') {
                                                res = false;
                                            }
                                        }
                                    });
                                }
                                return res;
                            }
                        }
                    }
                },
                password: {
                    validators: {
                        notEmpty: {
                            message: '密码不能为空'
                        },
                        stringLength: {
                            min: 3,
                            max: 30,
                            message: '长度必须长于3位，小于30位'
                        }
                    }
                },
                captcha: {
                    validators: {
                        notEmpty: {
                            message: '验证码不能为空'
                        },
                        stringLength: {
                            min: 4,
                            max: 4,
                            message: '长度必须不等于4位'
                        },
                        regexp: {
                            regexp: /^[0-9]{4}$/,
                            message: '只能为数字'
                        }
                    }
                }
            }
        }).on('success.form.bv', function (e) {
            e.preventDefault();
            $.ajax({
                type:"post",
                dataType:"text",
                url:"/user/signin",
                data:$("#signin-form").serialize(),
                async:false,
                success:function(data) {
                    if(data) {
                        if(data == "success") {
                            $('#chatModal').modal('hide');
                            $("#signin-form").bootstrapValidator('resetForm', true);
                            $("#login-form").bootstrapValidator('resetForm', true);
                        } else if(data == "captchaError") {
                            $("#signin-error-message").removeClass("hidden");
                            $("#captcha")[0].onclick();
                        }
                    }
                }
            });
        });
    }



</script>

