<style type="text/css">
    a {cursor:pointer;}
</style>
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">nodejs nodejs博客</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="icon-github-alt icon-2x"></i></a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/guestbook/index">留言板</a></li>
            </ul>

            <form class="navbar-form navbar-right search-form" role="search">
                <div class="form-group">
                    <input type="text" class="form-control search-keywords" placeholder="快来试一下吧...">
                </div>
                <button type="button" class="btn btn-search btn-default">搜索</button>
            </form>
        </div>
    </div>
</nav>


<!-- 模态框（Modal） -->
<div class="modal fade" id="not-permission-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <span style="font-size:24px;color:#666;">对不起，你没有权限。</span>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



<script type="text/javascript">
    $(function() {

        $.ajax({
            type:"post",
            dataType:"json",
            url:"/index/header",
            async:false,
            success:function(data) {
                if(data && data instanceof Array) {
                    var arr = [];
                    arr.push('<li class="active"><a href="/">首页</a></li>');
                    for(var index in data) {
                        var href = "/show/lists?forumId="+data[index]._id;
                        var $element = $("<li><a></a></li>");
                        $element.children().attr("href",href);
                        $element.children().text(data[index].name);
                        arr.push($element);
                    }
                    $("ul.navbar-nav").prepend(arr);
                }
            }
        });

        var url = window.location.href;
        var pathname = window.location.pathname;
        $("ul.navbar-nav li").each(function(i,e) {
            var href = $(this).children().attr("href").split("?")[0];
            if(pathname == href) {
                $(this).siblings(".active").removeClass().end().addClass("active");
            }
        });
    })
</script>

