@charset "utf-8";
$fontSize:12px;
$primaryColor:red;
$fontFamily:微软雅黑;

* {
  margin: 0;
  padding: 0;
  border: 0;
  background:transparent;
}

h1,h2,h3,h4,h5,h6,span,div,input[type="text"],p,b,a,em,strong,button {
  font-family: $fontFamily !important;
}

a {
  text-decoration: none;
  color:#333 !important;
}
a:hover,a:after,a:focus {
  text-decoration: none !important;
  color: #000 !important;
}

img {
  border: 0;
  vertical-align: top;
}

ul {
  list-style-type: none;
}

.clearfix{
:before {
    content:"";
    display:table;
  }
:after {
    height: 0;
    line-height: 0;
    content:"";
    display: none;
  }
}

body {
  background: #f6f6f6 !important;
}

.comment {margin:40px 0;}
.comment .media img {width:50px;height:50px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;}

.breadcrumb li {color:#000;font-size:14px;}

footer {
  padding: 40px 0 0 0;
  width:100%;
  height:30px;
  .container {
    .navbar {
      min-height: 30px !important;
      p {
        line-height: 30px;
        margin:0;
        color:#666;
        font-size:15px;
        font-weight: bold;
      }
    }
  }
}


/* 评论 */
.txt-comment-content {
  background:#fff url(/images/comment-bg.png) no-repeat right bottom !important;
}

#captcha-box {
  input[type="text"] {
    width:50% !important;
    display: inline-block;
    margin-right:10px;
  }
  img {
    position: relative;
    top:-1px;
  }
}



a.navbar-brand i {
  position: relative;
  top:-10px;
}

