
<!-- css样式 -->
<link rel="stylesheet" type="text/css" href="/build/css/index.css">
<link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="/libs/Font-Awesome-3.2.1/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/libs/bootstrapvalidator/dist/css/bootstrapValidator.min.css">
<link rel="stylesheet" type="text/css" href="/libs/csshake/dist/csshake.min.css">

<!-- javascript脚本 -->
<script type="text/javascript" src="/libs/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/libs/bootstrapvalidator/dist/js/bootstrapValidator.min.js"></script>
<script type="text/javascript" src="/build/js/global.js"></script>
<title><%= title %></title>
<link rel="shortcut icon" href="/images/favicon.ico">

<style type="text/css">
    .media-body > span {border:2px solid #666;border-radius:10px;padding:10px 6px;display:inline-block;text-align: left;}
    .message-wrap {position:relative;height:395px;;overflow: auto;}
    #msg {margin-bottom:10px;}
    .item {clear:both;margin:20px 0;overflow: hidden;}
    .message-content {width:100%;height:130px;padding:10px 10px 30px 10px;}
    textarea {width:100%;height:80px;border:2px solid #999;border-radius:5px;background:#fff;color:#000;font-size:20px;padding:5px;}
    .system {text-align:center;font-size:15px;color:#999;}
    .system > span {padding:0 8px; color:#333;}
</style>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <span>在线：</span><span id="online-count"></span>
            <span>用户：</span><span id="online-users"></span>
        </h3>
    </div>
    <div class="panel-body">
        <div class="message-wrap">
        </div>
    </div>
    <div class="panel-footer">
        <div class="message-content">
            <textarea id="msg" placeholder="按enter回车发送消息"></textarea>
            <a class="btn btn-primary">确定</a>
        </div>
    </div>
</div>


<div id="tpl" class="hidden">
    <div class="item">
        <div class="media col-sm-4">
            <img class="media-object icon" src="/images/face/m19.gif" alt="媒体对象">
            <div class="media-body">
                <span class="msg"></span>
            </div>
        </div>
    </div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    var socket = io.connect('http://192.168.1.63:3000');
    var username = '<%= userModel.username %>';
    var icon = '<%= userModel.icon %>';
    var userid = genUid();
    socket.on('message', function(data) {
        var json = JSON.parse(data);
        var $item = $($("#tpl").html());
        if(userid == json.userid) {
            $item.find(".media").addClass("pull-right").end().find("img").addClass("pull-right").end().find(".media-body").css("text-align","right");
        } else {
            $item.find(".media").addClass("pull-left").end().find("img").addClass("pull-left");
        }
        $item.find(".icon").attr("src","/images/face/m"+json.icon+".gif").end().find(".msg").text(json.content);
        $(".message-wrap").append($item);

        var wrap = $(".message-wrap")[0];
        wrap.scrollTop = wrap.scrollHeight;
    });
    socket.emit("login",{username:username,userid:userid});
    socket.on("login",function(data) {
        show(data,"login");
    });
    socket.on("logout",function(data) {
        show(data,"logout");
    });
    function show(data,operate) {
        $("#online-count").text(data.onlineCount);
        if(data.onlineUsers) {
            var temp = [];
            for(var key in data.onlineUsers) {
                temp.push(data.onlineUsers[key]);
            }
            $("#online-users").text(temp.join(','));
        }
        if(operate === "login") {
            $(".message-wrap").append($('<div class="system">欢迎<span>'+data.user.username+'</span>加入</div>'));
        } else if(operate == "logout") {
            $(".message-wrap").append($('<div class="system"><span>'+data.user.username+'</span>退出</div>'));
        }
    }
    $(function() {
        $(".message-wrap").css("height",($(window).height()-245)+"px");
        $(window).resize(function() {
            $(".message-wrap").css("height",($(window).height()-140)+"px");
        });

        $("#msg").keyup(function(e) {
            if(e.keyCode == 13) {
                var msg = $(this).val();
                if(msg && msg.trim().length>0) {
                    socket.emit('message', JSON.stringify({
                        userid: userid,
                        icon:icon,
                        username: username,
                        content: msg
                    }));
                }
                $(this).val("");
            }
        });
    });
</script>