<% layout('./../layout') %>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-body bg-success">
            如有技术上面需详谈的请加QQ：610540622(请备注一下：nodejs)
        </div>
    </div>
    <div class="guestbook">
        <ul class="list-group">
            <li class="list-group-item">
                <form role="form">
                    <div class="form-group">
                        <label for="name">留言</label>
                        <textarea placeholder="有什么想对博主说的，请详细道来吧！~^_^~" class="form-control message" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-submit-message btn-primary">留言</button>
                    </div>
                </form>
            </li>
            <li class="list-group-item guestbook-list">留言板列表：</li>
        </ul>
    </div>

    <ul class="pagination"></ul>
</div>

<!-- 留言板模板 -->
<div class="guestbook-template hidden">
    <li class="list-group-item item">
        <div class="media">
            <a class="pull-left">
                <img class="media-object icon" src="/images/face/m24.gif">
            </a>
            <div class="media-body">
                <h4 class="media-heading username"></h4>
                <span class="content"></span>
                <div class="operate">
                    <i class="icon-thumbs-up btn-support"><span></span></i>
                    <i class="icon-share-alt btn-reply"><span>回复</span></i>
                </div>

                <!--  回复  -->
                <form class="form-horizontal reply-box">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <textarea  placeholder="回复:" class="form-control txt-reply" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-0 col-sm-10">
                            <button data-id="2" type="button" class="btn btn-warning btn-reply-confirm">确定</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </li>
</div>


<script type="text/javascript">
    $(function() {
        //加载留言板信息
        loadMessage();

        //事件监听
        listenerEvent();
    })


    //监听事件
    function listenerEvent() {
        $(".btn-submit-message").click(function() {
            var message = $(".message").val();
            console.log(message);
            if(message) {
                if(isLogin()) {
                    commitMessage(message);
                } else {
                    $("#signin-modal").modal("show");
                }
            }
        });
    }

    //监听评论事件
    function listenerMessageEvent() {
        //回复按钮
        $(".btn-reply").click(function() {
            var $body =  $(this).parents(".list-group");
            $body.find(".reply-box").slideUp();
            var $reply =$(this).parent().next();
            if($reply.is(":visible")) {
                $reply.slideUp();
            } else {
                $reply.slideDown();
            }
        });

        //确定回复
        $(".btn-reply-confirm").click(function() {
            $reply = $(this);
            var replyMessage = $reply.parents(".reply-box").find(".txt-reply").val();
            if(replyMessage) {
                var _id = $reply.attr("data-id");
                if(isLogin()) {
                    commitReplyMessage(_id,replyMessage);
                } else {
                    //当前操作为回复评论
                    messageOrReply = "reply";
                    //打开模态框
                    $('#guestbookModal').modal('show');
                }
            }
        });

        //点击支持
        $(".btn-support").click(function() {
            var _self = $(this);
            var _id = _self.attr("data-id");
            if(_id) {
                $.ajax({
                    type:"post",
                    dataType:"text",
                    data:{
                        _id:_id
                    },
                    async:false,
                    url:"/guestbook/submitSupport",
                    success:function(data) {
                        if(data&&data == "success") {
                            var val = _self.children().text().replace(/[()]/g,"");
                            _self.children().text("("+(parseInt(val)+1)+")");
                        }
                    }
                });
            }
        });
    }


    //提交回复评论
    function commitReplyMessage(_id,replyMessage) {
        $.ajax({
            type:"post",
            dataType:"text",
            data:{
                _id:_id,
                content:replyMessage
            },
            url:"/guestbook/submitReply",
            async:false,
            success:function(data) {
                console.log(data);
                if(data&&data=="success") {
                    $reply.parents(".reply-box").find(".txt-reply").val("");
                    loadMessage();
                    $('#guestbookModal').modal('hide');
                } else if(data && data=="notPermission") {
                    $("#not-permission-modal").modal("show");
                }
            }
        });
    }


    //提交留言
    function commitMessage(content) {
        $.ajax({
            type:"post",
            dataType:"text",
            data:{
                content:content
            },
            async:false,
            url:"/guestbook/submit",
            success:function(data) {
                console.log(data);
                if(data && data == "success") {
                    pageIndex = 1;
                    $(".message").val("");
                    loadMessage();
                    $('#commentModal').modal('hide');
                } else if(data && data == "notPermission") {
                    $("#not-permission-modal").modal("show");
                }
            }
        });
    }


    //加载消息
    function loadMessage(page) {
        $.ajax({
            type:"get",
            dataType:"json",
            url:"/guestbook/getMessages?page="+pageIndex,
            async:false,
            success:function(data) {
                if(data) {
                    loadPagination(data.total);
                    var arr = [];
                    data.rows.forEach(function(item) {
                        var $item = $($(".guestbook-template").html());
                        $item.find(".icon").attr("src","/images/face/m"+item.icon+".gif");
                        $item.find(".username").text(item.username);
                        $item.find(".content").text(item.content);
                        $item.find(".btn-reply-confirm").attr("data-id",item._id);
                        $item.find(".operate .btn-support span").text("("+item.supportCount+")").parent().attr("data-id",item._id);
                        
                        //留言回复
                        if(item.reply && item.reply.length>0) {
                            var children = [];
                            item.reply.forEach(function(i) {
                                $media = $($(".guestbook-template .list-group-item").html());
                                $media.find(".icon").attr("src","/images/face/m"+i.icon+".gif");
                                $media.find(".username").text(i.username);
                                $media.find(".content").text(i.content);
                                $media.find(".btn-reply-confirm").attr("data-id",i._id);
                                $media.find(".operate").remove().end().find(".reply-box").remove();
                                children.push($media);
                            });
                            $item.find(".media-body:first").append(children);
                        }
                        arr.push($item);
                    });

                    $(".guestbook .list-group").find(".item").remove().end().append(arr);
                    listenerMessageEvent();
                }
            }
        });
    }


    //当前页
    var pageIndex = 1;
    //加载分页
    function loadPagination(total) {
        if(total>10) {
            var pageCount = Math.ceil(total/10);
            $(".pagination").show().find("li").remove();
            var list = [];
            list.push("<li class='prev'><a>&laquo;</a></li>");
            for(var i=1; i<=Math.ceil(total/10); i++) {
                var li = '<li><a>'+i+'</a></li>';
                list.push(li);
            }
            list.push("<li class='next'><a>&raquo;</a></li>");
            $(".pagination").append(list).find("li:eq("+pageIndex+")").addClass("active");

            listenerPaginationClick(pageCount);
        } else {
            $(".pagination").hide();
        }
    }


    //监听分页点击事件
    function listenerPaginationClick(total) {
        $(".pagination li").click(function() {
            var className = this.className;
            if(className == "prev") {
                if(pageIndex > 1) {
                    pageIndex -= 1;
                }
            } else if(className == "next") {
                if(pageIndex<total) {
                    pageIndex += 1;
                }
            } else {
                $(this).siblings(".active").removeClass("active");
                pageIndex = $(this).children().text();
            }
            loadMessage();
        });
    }

</script>

