
<div class="win-box permission-operate">
    <div class="hidden" id="operate"><%= operate %></div>
    <form id="permission-operate-form">
        <input type="hidden" name="_id" value="<%= model?model._id:"" %>"/>
        <ul>
            <li>
                <div class="label">名称：</div>
                <div class="ipt">
                    <input type="text" name="permissionName" value="<%= model?model.permissionName:"" %>"/>
                </div>
            </li>
            <li>
                <div class="label">编码：</div>
                <div class="ipt">
                    <input type="text" name="permissionCode" value="<%= model?model.permissionCode:"" %>"/>
                </div>
            </li>
            <li class="btn-box">
                <a id="btn-permission-confirm" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-ok',plain:false">确定</a>
                <a id="btn-permission-cancel" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:false">取消</a>
            </li>
        </ul>
    </form>
</div>


<script type="text/javascript">
    $(function() {
        $("#btn-permission-confirm").click(function() {
            var operate = $("#operate").text();
            var url = "/permission/"+operate;
            $.ajax({
                type:"post",
                dataType:"text",
                data:$("#permission-operate-form").serialize(),
                async:false,
                url:url,
                success:function(data) {
                    if(data && data == "success") {
                        window.parent.closeWindowAndReload();
                    }
                }
            });

        });
        $("#btn-permission-cancel").click(function() {
            window.parent.closeWindow();
        });
    })
</script>



